@use '/src/styles/constants/colors';

.emptyWrap {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 60%;

  .emptyText {
    font-size: 25px;
    color: colors.$GRAYA;
  }
}
