@use '/src/styles/constants/colors';

.app {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 520px;
  height: 100vh;
  margin: 0 auto;
  // background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
}

.wrap {
  width: 100%;
  height: 90vh;
  padding: 32px;
  overflow: auto;
  border: 2px solid #cccccc;
  border-radius: 15px;
}
